.page-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 600px;
}

.page-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 30px;
  margin-right: 30px;
}
