.appBtn {
  padding: 5px 15px;
  margin: 10px 10px 7px 7px;
  font-size: 14px;
  background: transparent;
  border-radius: 4px;
  border: 2px solid deepskyblue;
  cursor: pointer;
  background-color: lightblue;
}
